{% extends 'base.html' %}

{% block article %}
    <table border="1px" width="25%" height="60%" align="center">
        {% for row in table %}
            <tr>
                {% for c in row %}
                    {% if c in coordinate %}
                        <td align="center">{{ c }}</td>
                    {% else %}
                        <td bgcolor="00FFFF" align="center">
                            {% if c %} {{ c }} {% endif %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
